@config "../../tailwind.config.js";

@import "tailwindcss";

body {
    font-family: sans-serif;
    font-size: 16pt;
    @apply h-full w-full;
}

dd {
    @apply ml-4;
}

figure {
    @apply h-fit w-fit rounded bg-light1 p-2 dark:bg-dark2;
    img {
        @apply rounded;
    }
    figcaption {
        @apply text-center;
    }
}

.flex-wrap {
    flex-wrap: wrap;
}

.sidebar-links a {
    @apply text-2xl text-accent sm:p-4 sm:text-3xl;
}

.header-anchor {
    @apply text-light0 dark:text-dark0;
    text-decoration: none;
    font-size: 14pt;
}

.icon svg {
    @apply h-4 w-4;
}

.socials svg {
    @apply m-2 size-8;
}

.table-of-contents {
    @apply rounded bg-light2 p-2 prose-h1:my-0 prose-h2:my-0 prose-h3:my-0 prose-h4:my-0 prose-ul:my-0 prose-li:my-0 sm:float-right sm:m-4 dark:bg-dark2;
}
