<aside
    class="container flex h-16 w-full flex-row bg-light1 text-dark1 sm:fixed sm:top-0 sm:h-full sm:w-64 sm:flex-col dark:bg-dark1 dark:text-light1"
>
    <div class="h-16 w-16 flex-shrink-0 sm:h-64 sm:w-64">
        <a href="{{ '/' | url }}"><img src="/img/icon.png" class="h-full w-full" /></a>
    </div>
    <div class="container flex h-full w-full flex-col bg-light1 dark:bg-dark1">
        <div
            class="sidebar-links flex h-full w-full flex-row items-center justify-around p-8 text-center sm:flex-col sm:justify-start"
        >
            <a href="{{ '/posts' | url }}">posts</a>
            <a href="{{ '/things' | url }}">things</a>
        </div>
    </div>
    <div class="bottom-0 hidden justify-center sm:flex">{% include "./footer.njk" %}</div>
</aside>
