---
layout: base.njk
---

<!DOCTYPE html>

<main class="container">
    <div class="container flex justify-center">
        <div class="w-fit rounded bg-light2 p-8 text-center text-dark dark:bg-dark2 dark:text-light">
            <h1 class="text-4xl font-bold">{{ title }}</h1>
            <span>Posted on {{ page.date | readableDate }}</span>
        </div>
    </div>
    <br />
    <div class="prose max-w-none dark:prose-invert">{{ content | safe }}</div>
</main>
